<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-12 mb-4">
                <img src="../../../assets/images/icons/logo.png" class="logo img-fluid" alt="">
            </div>


            <div class="col-lg-4 col-md-6 col-12 mx-auto">
                <h5 class="site-footer-title mb-3 text-color">Accès rapide
                </h5>

                <p class="text-white d-flex mb-2">
                    <a href="tel: 120-240-9600" class="site-footer-link">
                        Accueil
                    </a>
                </p>

                <p class="text-white d-flex mb-2">
                    <a href="tel: 120-240-9600" class="site-footer-link">
                        Espace Etudiant
                    </a>
                </p>
                <p class="text-white d-flex mb-2">
                    <a href="tel: 120-240-9600" class="site-footer-link">
                        Départements
                    </a>
                </p>
                <p class="text-white d-flex mb-2">
                    <a href="tel: 120-240-9600" class="site-footer-link">
                        About Us
                    </a>
                </p>
            </div>

            <div class="col-lg-4 col-md-6 col-12 mx-auto">
                <h5 class="site-footer-title mb-3 text-color">Contactez-nous</h5>

                <p class="text-white d-flex mb-2">
                    <i class="bi-telephone me-2"></i>

                    <a href="tel: 120-240-9600" class="site-footer-link">
                        + 212 (0) 523 48 51 12/22/82

                    </a>
                </p>

                <p class="text-white d-flex">
                    <i class="bi-envelope me-2"></i>

                    <a href="mailto:info@yourgmail.com" class="site-footer-link">
                        fstbm@usms.ma
                    </a>
                </p>

                <p class="text-white d-flex mt-3">
                    <i class="bi-geo-alt me-2"></i>
                    Campus  Mghilla,  BP 523  ,  23000  Béni Mellal 
                </p>
            </div>
        </div>
    </div>

    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-7 col-12">
                    <p class="copyright-text mb-0">Copyright © 2023 <a href="#">Faculté des Sciences et Techniques
                    </a> Béni Mella
                </div>
                
                <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                    <ul class="social-icon">
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-twitter"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-facebook"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-instagram"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link bi-linkedin"></a>
                        </li>

                        <li class="social-icon-item">
                            <a href="https://youtube.com/templatemo" class="social-icon-link bi-youtube"></a>
                        </li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</footer>

